nodered/relays.json
{
    "id": "1dd2320a.7877fe",
    "label": "relays page",
    "nodes": [
        {
            "id": "9e946b0f.7d42a",
            "type": "http in",
            "z": "1dd2320a.7877fe",
            "name": "",
            "url": "mod4ko",
            "method": "get",
            "upload": false,
            "swaggerDoc": "",
            "x": 90,
            "y": 120,
            "wires": [
                [
                    "349d53e1.2f504c"
                ]
            ]
        },
        {
            "id": "70a6145c.31620c",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r0",
            "channel": "0",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 320,
            "wires": []
        },
        {
            "id": "589cbb3f.f803f4",
            "type": "http response",
            "z": "1dd2320a.7877fe",
            "name": "",
            "statusCode": "200",
            "headers": {},
            "x": 760,
            "y": 40,
            "wires": []
        },
        {
            "id": "349d53e1.2f504c",
            "type": "template",
            "z": "1dd2320a.7877fe",
            "name": "relays page template",
            "field": "payload",
            "fieldType": "msg",
            "format": "handlebars",
            "syntax": "mustache",
            "template": "<html lang=\"en\">\n<head>\n    <title>Relays</title>\n    <ul>\n        <li><a href=\"/mod4ko\">relays</a></li>\n    </ul>\n</head>\n<body>\n  <h1>Relays</h1>\n  <form method=\"post\">\n    <ul>\n      mod4ko testing page relays etc\n      <li>\n        <button name=\"relay0\" value=\"{{flow.relay0}}\">\n          {{flow.relay0}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay1\" value=\"{{flow.relay1}}\">\n          {{flow.relay1}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay2\" value=\"{{flow.relay2}}\">\n          {{flow.relay2}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay3\" value=\"{{flow.relay3}}\">\n          {{flow.relay3}}\n        </button>\n      </li>\n    </ul>\n  </form>\n</body>\n</html>\n",
            "output": "str",
            "x": 500,
            "y": 40,
            "wires": [
                [
                    "589cbb3f.f803f4"
                ]
            ]
        },
        {
            "id": "ba1b6585.a4e6b8",
            "type": "http in",
            "z": "1dd2320a.7877fe",
            "name": "",
            "url": "mod4ko",
            "method": "post",
            "upload": false,
            "swaggerDoc": "",
            "x": 80,
            "y": 160,
            "wires": [
                [
                    "ea27a484.2695d"
                ]
            ]
        },
        {
            "id": "93253ea6.1bac4",
            "type": "http in",
            "z": "1dd2320a.7877fe",
            "name": "",
            "url": "mod4ko/reset",
            "method": "get",
            "upload": false,
            "swaggerDoc": "",
            "x": 90,
            "y": 240,
            "wires": [
                [
                    "1b38ce77.92a23a"
                ]
            ]
        },
        {
            "id": "1b38ce77.92a23a",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "relay0",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "relay1",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "relay2",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                },
                {
                    "t": "set",
                    "p": "relay3",
                    "pt": "flow",
                    "to": "false",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 120,
            "y": 360,
            "wires": [
                [
                    "349d53e1.2f504c",
                    "5b66431e.ed5bb4",
                    "6ea0a489.c159fc",
                    "7b6d43a7.e8cd0c",
                    "1d09667f.3af8e2"
                ]
            ]
        },
        {
            "id": "5b66431e.ed5bb4",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relay0",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 320,
            "wires": [
                [
                    "70a6145c.31620c"
                ]
            ]
        },
        {
            "id": "7b6d43a7.e8cd0c",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relay2",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 440,
            "wires": [
                [
                    "8c33ae01.94a8"
                ]
            ]
        },
        {
            "id": "6ea0a489.c159fc",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relay1",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 380,
            "wires": [
                [
                    "6bd2ef71.ef21d"
                ]
            ]
        },
        {
            "id": "1d09667f.3af8e2",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relay3",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 500,
            "wires": [
                [
                    "76a078d2.0ac748"
                ]
            ]
        },
        {
            "id": "6bd2ef71.ef21d",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r1",
            "channel": "1",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 380,
            "wires": []
        },
        {
            "id": "8c33ae01.94a8",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r2",
            "channel": "2",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 440,
            "wires": []
        },
        {
            "id": "76a078d2.0ac748",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r3",
            "channel": "3",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 500,
            "wires": []
        },
        {
            "id": "ea27a484.2695d",
            "type": "function",
            "z": "1dd2320a.7877fe",
            "name": "toggle",
            "func": "\nfunction toggle(name) {\n    if (msg.payload[name] === 'true') {\n        flow.set(name, false);\n    } else if (msg.payload[name] === 'false') {\n        flow.set(name, true);\n    }\n}\n\ntoggle('relay0');\ntoggle('relay1');\ntoggle('relay2');\ntoggle('relay3');\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 250,
            "y": 160,
            "wires": [
                [
                    "5b66431e.ed5bb4",
                    "6ea0a489.c159fc",
                    "349d53e1.2f504c",
                    "7b6d43a7.e8cd0c",
                    "1d09667f.3af8e2",
                    "e9e0e5d7.adf4d"
                ]
            ]
        },
        {
            "id": "e9e0e5d7.adf4d",
            "type": "debug",
            "z": "1dd2320a.7877fe",
            "name": "",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "x": 590,
            "y": 160,
            "wires": []
        }
    ]
}