nodered/relays.json
{
    "id": "1dd2320a.7877fe",
    "label": "relays page",
    "nodes": [
        {
            "id": "9e946b0f.7d42a",
            "type": "http in",
            "z": "1dd2320a.7877fe",
            "name": "",
            "url": "mod4ko",
            "method": "get",
            "upload": false,
            "swaggerDoc": "",
            "x": 90,
            "y": 40,
            "wires": [
                [
                    "42ab81f3.e347"
                ]
            ]
        },
        {
            "id": "70a6145c.31620c",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r0",
            "channel": "0",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 320,
            "wires": []
        },
        {
            "id": "589cbb3f.f803f4",
            "type": "http response",
            "z": "1dd2320a.7877fe",
            "name": "",
            "statusCode": "200",
            "headers": {},
            "x": 760,
            "y": 40,
            "wires": []
        },
        {
            "id": "349d53e1.2f504c",
            "type": "template",
            "z": "1dd2320a.7877fe",
            "name": "relays page template",
            "field": "payload",
            "fieldType": "msg",
            "format": "handlebars",
            "syntax": "mustache",
            "template": "<html lang=\"en\">\n<head>\n    <title>Relays</title>\n    <ul>\n        <li><a href=\"/mod4ko\">relays</a></li>\n    </ul>\n</head>\n<body>\n  <h1>Relays</h1>\n  <form method=\"post\">\n    <ul>\n      mod4ko testing page relays etc\n      this should be just like the mod4ko panel of agua's /relays page\n      <li>\n        <button name=\"relay0\" value=\"{{flow.relays.0}}\">\n          {{flow.relays.0}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay1\" value=\"{{flow.relays.1}}\">\n          {{flow.relays.1}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay2\" value=\"{{flow.relays.2}}\">\n          {{flow.relays.2}}\n        </button>\n      </li>\n      <li>\n        <button name=\"relay3\" value=\"{{flow.relays.3}}\">\n          {{flow.relays.3}}\n        </button>\n      </li>\n    </ul>\n  </form>\n</body>\n</html>\n",
            "output": "str",
            "x": 580,
            "y": 40,
            "wires": [
                [
                    "589cbb3f.f803f4"
                ]
            ]
        },
        {
            "id": "ba1b6585.a4e6b8",
            "type": "http in",
            "z": "1dd2320a.7877fe",
            "name": "",
            "url": "mod4ko",
            "method": "post",
            "upload": false,
            "swaggerDoc": "",
            "x": 80,
            "y": 160,
            "wires": [
                [
                    "ea27a484.2695d",
                    "113722fa.e2b5d5"
                ]
            ]
        },
        {
            "id": "5b66431e.ed5bb4",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relays.0",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 320,
            "wires": [
                [
                    "70a6145c.31620c"
                ]
            ]
        },
        {
            "id": "7b6d43a7.e8cd0c",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relays.2",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 440,
            "wires": [
                [
                    "8c33ae01.94a8"
                ]
            ]
        },
        {
            "id": "6ea0a489.c159fc",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relays.1",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 380,
            "wires": [
                [
                    "6bd2ef71.ef21d"
                ]
            ]
        },
        {
            "id": "1d09667f.3af8e2",
            "type": "change",
            "z": "1dd2320a.7877fe",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "relays.3",
                    "tot": "flow"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 510,
            "y": 500,
            "wires": [
                [
                    "76a078d2.0ac748"
                ]
            ]
        },
        {
            "id": "6bd2ef71.ef21d",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r1",
            "channel": "1",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 380,
            "wires": []
        },
        {
            "id": "8c33ae01.94a8",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r2",
            "channel": "2",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 440,
            "wires": []
        },
        {
            "id": "76a078d2.0ac748",
            "type": "widgetlords-relay",
            "z": "1dd2320a.7877fe",
            "name": "r3",
            "channel": "3",
            "address": "0",
            "chipenable": "3",
            "x": 750,
            "y": 500,
            "wires": []
        },
        {
            "id": "ea27a484.2695d",
            "type": "function",
            "z": "1dd2320a.7877fe",
            "name": "update flow",
            "func": "relays = flow.get('relays');\n\nfunction toggle(name,idx) {\n    if (msg.payload[name] === 'true') {\n        relays[idx] = false;\n    } else if (msg.payload[name] === 'false') {\n        relays[idx] = true;\n    }\n}\ntoggle('relay0',0);\ntoggle('relay1',1);\ntoggle('relay2',2);\ntoggle('relay3',3);\nflow.set('relays', relays);\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 330,
            "y": 160,
            "wires": [
                [
                    "5b66431e.ed5bb4",
                    "6ea0a489.c159fc",
                    "349d53e1.2f504c",
                    "7b6d43a7.e8cd0c",
                    "1d09667f.3af8e2"
                ]
            ]
        },
        {
            "id": "e9e0e5d7.adf4d",
            "type": "debug",
            "z": "1dd2320a.7877fe",
            "name": "",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "x": 630,
            "y": 160,
            "wires": []
        },
        {
            "id": "42ab81f3.e347",
            "type": "sqlite",
            "z": "1dd2320a.7877fe",
            "mydb": "b1d3d4e8.72da18",
            "sqlquery": "fixed",
            "sql": "select is_on from relay where board='mod4ko';",
            "name": "get relay states",
            "x": 200,
            "y": 100,
            "wires": [
                [
                    "130dcef3.7bf5b9"
                ]
            ]
        },
        {
            "id": "130dcef3.7bf5b9",
            "type": "function",
            "z": "1dd2320a.7877fe",
            "name": "set state from db",
            "func": "relays = [];\n\nfunction prep(idx) {\n    relays[idx] = msg.payload[idx].is_on == 1;\n}\nprep(0); prep(1); prep(2); prep(3);\nflow.set('relays', relays)\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 390,
            "y": 100,
            "wires": [
                [
                    "349d53e1.2f504c"
                ]
            ]
        },
        {
            "id": "b2463422.a9d118",
            "type": "sqlite",
            "z": "1dd2320a.7877fe",
            "mydb": "b1d3d4e8.72da18",
            "sqlquery": "prepared",
            "sql": "update relay\nset is_on = $state\nwhere idx = $idx\nand board = 'mod4ko';\n;",
            "name": "update db",
            "x": 290,
            "y": 280,
            "wires": [
                []
            ]
        },
        {
            "id": "113722fa.e2b5d5",
            "type": "function",
            "z": "1dd2320a.7877fe",
            "name": "prep sql query",
            "func": "params = {};\nfunction toggle(name, idx) {\n    if (msg.payload[name] === 'true') {\n        params.$idx = idx;\n        params.$state = false;\n    } else if (msg.payload[name] === 'false') {\n        params.$idx = idx;\n        params.$state = true;\n    }\n}\ntoggle('relay0',0);\ntoggle('relay1',1);\ntoggle('relay2',2);\ntoggle('relay3',3);\nmsg.params = params;\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 120,
            "y": 280,
            "wires": [
                [
                    "b2463422.a9d118"
                ]
            ]
        }
    ]
}